{% extends 'main/layout.html' %}

{% block title %}Новая задача{% endblock %}

{% block content %}
    <div class="col-4">
        <br><h1>Новая задача</h1><br>
        <form method="post">
            {% csrf_token %}
                {{ form.as_p }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Создать</button>
        </form>
        {% if create_task_success %}
            <p style="color:red">Задача создана!</p>
        {% endif %}
        <br>
        <a href="{% url 'work_home' %}" class="btn btn-warning">Вернуться списку задач</a>
    </div>

{% endblock %}

