{% extends 'main/layout.html' %}

{% block title %}{{ taska.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ taska }}</h1>
        <h2><i>Тип задачи:</i> {{ taska.type }}</h2>
        <p><i>Описание:</i> {{ taska.description }}</p>
        <p><i>Постановщик:</i> {{ taska.author }}</p>
        <p><i>Исполнитель:</i> {{ taska.executor }}</p>
        <p><i>Дата создания:</i> {{ taska.create_date }}</p>
        <p><i>Статус:</i> {{ taska.status }}</p>


        <p><b>Комментарии ({{ taska.comments_worktask.all.count }}):</b></p>


        <hr>

        {% if messages %}
        <div class="alert alert-success">
            {% for m in messages %}
                {{ m }}
            {% endfor %}
        </div>
        {% endif %}


        {% for comment in taska.comments_worktask.all %}
            <div class="alert alert-warning">
            <i>Комментарий:</i> {{ comment.text }} <br>
            <i>Автор:</i> {{ comment.author }} <br>
            <i>Добавлено:</i> {{ comment.create_date }} <br>


            </div>
        {% endfor %}


        <p>Добавить комментарий</p>
        <div class="col-4">
            <form action="" id="add_form" method="post">
<!--       нижеуказанный токен нужен для проверки, что запрос исходит от подлинного клиента. Без него ошибка 403-->
                {% csrf_token %}
                    {{ form.as_p }}
            </form>
            <button form="add_form" type="submit" class="btn btn-warning">Добавить</button>
        </div>

    </div>


{% endblock %}

