{% extends 'main/layout.html' %}

{% block title %}{{ taska.title }}{% endblock %}

{% block content %}
    <div class="col-4">
        <h1>{{ taska }}</h1>
        <h2><i><b>Тип задачи:</b></i> {{ taska.type }}</h2>
        <p><i><b>Описание:</b></i> {{ taska.description }}</p>
        <p><i><b>Постановщик:</b></i> {{ taska.author }}</p>
        <p><i><b>Исполнитель:</b></i> {{ taska.executor }}</p>
        <p><i><b>Дата создания:</b></i> {{ taska.create_date }}</p>
        <p><i><b>Статус:</b></i> {{ taska.status }}</p>
    </div>

    <div class="col-5">
        <p><b>Комментарии ({{ taska.comments_worktask.all.count }}):</b></p>


        <hr>

        {% if messages %}
        <div class="alert alert-success">
            {% for m in messages %}
                {{ m }}
            {% endfor %}
        </div>
        {% endif %}


        {% for comment in taska.comments_worktask.all %}
            <div class="alert alert-warning">
            <i>Комментарий:</i> {{ comment.text }} <br>
            <i>Автор:</i> {{ comment.author }} <br>
            <i>Добавлено:</i> {{ comment.create_date }} <br>
            </div><br>

        {% endfor %}


        <p>Добавить комментарий</p>

            <form action="" id="add_form" method="post">
<!--       нижеуказанный токен нужен для проверки, что запрос исходит от подлинного клиента. Без него ошибка 403-->
                {% csrf_token %}
                    {{ form.as_p }}
            </form>
            <button form="add_form" type="submit" class="btn btn-warning">Добавить</button>


    </div>


{% endblock %}

