{% extends 'main/layout.html' %}

{% block title %}Завершённые задачи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Завершённые задачи</h1>
        {% if worktasks_cl %}
            {% for el in worktasks_cl %}
                {% if el.status == "Закрыта" %}
                    {% if el.executor == request.user %}
                        <div class="alert alert-warning">
                            <h3>{{ el.title }}</h3>
                            <p>{{ el.type }}</p>
                            <a href="{% url 'task-descr' el.id %}" class="btn btn-warning"> Открыть описание</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <h3>Задач нет</h3>
        {% endif %}

        {# Комментарий #}
    </div>

{% endblock %}

