{% extends 'main/layout.html' %}
{% load get_group %}

{% block title %}Актуальные задачи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Актуальные задачи</h1><br>
        {% if request.user|has_group:"Support" %}
            <a href="{% url 'create_task' %}"><button class="btn btn-warning">Добавить задачу</button></a><br><br>
        {% endif %}


        {% if worktasks %}
            {% for el in worktasks %}
                {% if el.status == "Открыта" %}
                    {% if request.user|has_group:"Support" %}
                        <div class="alert alert-warning">
                            <h3>{{ el }}</h3>
                            <p>Тип задачи: {{ el.type }}</p>
                            <p>Исполнитель: {{ el.executor }}</p>
                            <a href="{% url 'task-descr' el.id %}" class="btn btn-warning"> Открыть описание</a>
                            <a href="{% url 'edit_task' el.id %}" class="btn btn-warning"> Редактировать</a>
                        </div>
                    {% elif el.executor == request.user %}
                        <div class="alert alert-warning">
                            <h3>{{ el }}</h3>
                            <p>{{ el.type }}</p>
                            <a href="{% url 'task-descr' el.id %}" class="btn btn-warning"> Открыть описание</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <h3>Задач нет</h3>
        {% endif %}

        {# Комментарий #}
    </div>

{% endblock %}

