body {
    background: #fff;
}

aside {
    float: left;
    background: #212844;
    width: 20%;
    padding: 2.5%;
    height: auto; /*  100vh */
    flex-grow : 1;
    flex-basis: 0px;
    color: #fff;
    border-right: 5px solid #ba2d2d;
    border-bottom: 5px solid #ba2d2d;
}

aside img {
    width: 100px;
    height: 60px;
    float:left;
}

aside .logo {
    font-size: 15px;
    margin-left: 2px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

aside h3{
    margin-top: 50px;
    font-size: 30px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside il a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.1);
}

main .features {
    float: left;
    color: #062d62;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 800px; margin: 20px auto}

.alert-warning {
    float: left;
    width: 800px;
    clear: both;
    text-align: center;
    margin: 10px 19%;
}