body {
    background: #f0f0f0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #212844;
    overflow: hidden;
    width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    width: 25%;
    padding: 18px;
    text-decoration: none;
    font-size: 19px;
    transition: transform .5s ease;
    display: inline-block;
}


.topnav a:hover {
    background-color: #f0f0f0;
    color: black;
    transform: scale(1.1);
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

main .features {
    float: center;
    color: #062d62;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

form  { display: table; width:100%;}
label { display: table-cell; }
input { display: table-cell;}}

aside div.language ul a {text-decoration:none;}

main .features h1 {font-size: 50px; width: 100%;}
main .features p {width: width: 100%;}



.alert-info {
    float: center;
    clear: both;
    text-align: center;
    display: block;


}
.alert-warning {
    float: center;
    width: 370px;
    clear: both;
    text-align: center;
    display: inline-block;


}

.wrapper {
    text-align: left;
}

.button {
    position: absolute;
    margin-left: 50%;
}

.col-4 {
    margin-left: 2%;
    width: 80%;
}



@media screen and (max-width: 600px) {
.topnav b {
    visibility: hidden;
    display: none;
  }
}

