{% load static %}
<title>Страница выхода</title>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'main/css/authform.css' %}">
<div class="modal">
<center>
<head>

    <img src="{% static '/main/img/logo_default.jpg' %}" alt="Логотип">
</head>
<body>
    <br><br><br>
    <h2><span style="color: white;">Вы вышли из системы!</span></h2>
    <a href="{% url 'login'%}"><h3><span style="color: white;"><u>Нажмите, чтобы авторизоваться снова</u></h3>
      </span></a>
</body>
</center>
</div>