{% load static %}
<title>Страница авторизации</title>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'main/css/authform.css' %}">
<center>
<head>
    <img src="{% static '/main/img/logo_default.jpg' %}" alt="Логотип">
</head>
<body><h1><span style="color: white;">Для работы с приложением необходима авторизация!</span></h1>
    <div class="modal">
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form %}
                <p class="form-label">{{ field.label }}</p>
                <p>{{ field }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-outline-success">Войти</button>
        </form>
    </div>
</body>
</center>


