{% extends 'main/layout.html' %}
{% load get_group %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Важная информация</h1><br>
        {% if request.user|has_group:"Support" %}
            <a href="{% url 'create_adv' %}"><button class="btn btn-info">
                Добавить запись</button></a><br><br>
        {% endif %}


        {% if adverts %}
            {% for el in adverts %}
                 <div class="alert alert-info">
                      <h3>{{ el.title }}</h3>
                      <p>{{ el.content }}</p>
                      <p><i>Автор:</i> {{ el.author }}</p>
                      <p><i>Опубликовано:</i> {{ el.create_date }}</p>
                 </div>
            {% endfor %}
        {% else %}
            <h3>Информации нет</h3>
        {% endif %}


    </div>

{% endblock %}

